.navbar-melu {
    position: fixed;
    top: 0;
    background-color: #4b7bec;
    height: 60px;
    display: block;
    width: 100%;
    color: white;
    z-index: 999;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}

.nav-container {
    padding: 10px 5vw;
    width: 100%;
}

.nav-right {
    float: right;
}

.nav-container h2 {
    display: inline-block;
}

.btn-nav {
    color: #2c3e50;
    background-color: #ecf0f1;
    margin: 0 4px;
}

.btn-nav:hover {
    background-color: #bdc3c7;
}

.btn-nav:active {
    background-color: #95a5a6;
}

h2 {
    color: white;
    margin: 0;
}

a, a:hover {
    text-decoration: none;
}
