.navbar-melu h2 {
    color: white;
    margin: 0;
}

.navbarTitle, .navbarTitle:hover {
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    vertical-align: middle;
}

.navbar-melu {
    position: fixed;
    top: 0;
    background-color: #4b7bec;
    height: 60px;
    display: block;
    width: 100%;
    color: white;
    z-index: 999;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}

.nav-container {
    padding: 10px 5vw;
    width: 100%;
}

.nav-right {
    float: right;
}

.nav-container h2 {
    display: inline-block;
}

.btn-nav, .btnSearch {
    color: #2c3e50;
    background-color: #ecf0f1;
    margin: 0 4px;
}

.btn-nav:hover, .btnSearch:hover {
    background-color: #bdc3c7;
}

.btn-nav:active, .btnSearch:active {
    background-color: #95a5a6;
}

.searchBar {
    display: inline-block;
    margin: 0;
    margin-left: 20%;
    text-align: center;
    height: 30px;
}

.searchBar input[type="text"] {
    height: 100%;
    color: black;
    width: 25vw;
    border-top-left-radius: 5px;
    border: 0;
    padding: 0 10px;
    border-bottom-left-radius: 5px;
}

.btnSearch {
    color: black;
    height: 100%;
    margin: 0;
    margin-top: -1px;
    width: 40px;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
