.itemRelacionado {
    width: 24%;
    height: 300px;
    background: white;
    border-radius: 7px;
    transition: 0.25s;
    cursor: pointer;
    margin: 7px;
    display: inline-block;
    -webkit-box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.1);
    user-select: none;
}

.itemRelacionado:hover {
    -webkit-box-shadow: 0px 10px 14px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 10px 14px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 10px 14px 0px rgba(0,0,0,0.4);
}

.itemContainer {
    margin-top: 20px;
    background-color: white;
    padding: 0;
    padding-bottom: 50px;
}

.itemHeader {
    height: 350px;
}

.itemCarrousel {
    margin: 0;
    width: 49%;
    display: inline-block;
}

.itemData {
    width: 50%;
    padding: 0 15px;
    display: inline-block;
    vertical-align: top;
}

.itemSubData {
    padding-left: 15px;
    color:  black;
}

.quantitySelector {
    border-radius: 5px;
    font-weight: normal;
}

.itemButtons {
    width: 100%;
    text-align: center;
}

.btnBuy, .btnCart {
    height: 50px;
    width: 40%;
    color: white;
    outline: 0;
    border: 0;
    padding: 15px;
}

.btnBuy {
    background: #6e91e2;
}

.btnCart {
    background: #fa983a;
}

.btnBuy:hover {
    background: #3d579c;
}

.btnCart:hover {
    background: #e48a32;
}

.btnBuy:active {
    background: #2f447d;
}

.btnCart:active {
    background: #b56c26;
}

.itemBody {
    padding: 0 20px;
}

.itemRelacionados {
    margin-top: 50px;
}

.items {
    text-align: center;
}

.itemTitle {
    color: #6e91e2;
}

.left, .right {
    background: none !important;
}
