body {
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
}

*:focus {
    outline: 0 !important;
}

.btn {
    transition: 0.15s;
}

.container {
    margin-top: 80px;
    margin-bottom: 60px;
}
